* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  a {
    text-decoration: none;
  }
  button {
    padding: 8px 30px;
    border: none;
    background-color: #ff6600;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 25px;
    border: 2px solid #ff6600;
    transition: 0.3s all;
    &:hover {
      background-color: transparent;
      color: #ff6600;
    }
  }

  .button1 {
    padding: 15px 40px;
    border: none;
    background-color: #ff6600;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 25px;
    border: 2px solid #ff6600;
    transition: 0.3s all;
    &:hover {
      background-color: transparent;
      color: #ff6600;
    }
  }
  .button2 {
    padding: 15px 40px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #ffffff;
    transition: 0.3s all;
    &:hover {
      background-color: #ffffff7f;
      color: white;
    }
  }

  @media only screen and (max-width: 680px) {
    .button1,
    .button2 {
      font-size: 12px;
      padding: 5px 20px;
    }
  }
}
