.job-search {
  background: #00031f;

  h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-transform: capitalize;
    color: #ffffff;
  }
}

.jobs-info {
  h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}
